{% extends 'shorterner/base.html' %}

{% block content %}

    <h2>{{ url_details.short_url }} Details</h2>
    <p>Input Url: {{ url_details.input_url}}</p>
    <p>Status: {{ url_details.status }}</p>
    <p>Created: {{ url_details.created }}</p>

    {% if alltime %}
        {% include "shorterner/detail-item.html" with p=alltime %}
        {% include "shorterner/detail-item-details.html" with pd_list=alltime_referrer %}
        {% include "shorterner/detail-item-details.html" with pd_list=alltime_country %}
        {% include "shorterner/detail-item-details.html" with pd_list=alltime_browser %}
        {% include "shorterner/detail-item-details.html" with pd_list=alltime_platform %}
    {% endif %}



{% endblock %}