{% extends 'shorterner/base.html' %}

{% block content %}

    <h2>{{ url_details.short_url }} Details</h2>
    <p>Input Url: {{ url_details.input_url}}</p>
    <p>Status: {{ url_details.status }}</p>
    <p>Created: {{ url_details.created }}</p>
    <p>{{ alltime.short_url_clicks }}</p>


    <!-- add a check for null using if  -->
    {% if alltime_referrer %}
    <ul>
        {% for referrers in alltime_referrer %} 
        <li>
            {{ referrers.count }} | {{ referrers.source_id }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}